*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container
{
    width: 90%;
    margin: auto;
}

.bg-light-blue
{
    background-color: aqua;
}

h1
{
    font-size: xx-large;
    margin-left: 41%;
    margin-bottom: 4%;
    color: white;
    padding: 10px;
}
.w-30
{
    width: 30%;
}

.inline-block
{
    display: inline-block;
}
.d-block
{
    display: block;
    display: block;
    padding: 5px;
    margin: 5px;
    width: 65%;
margin: 10px
}

.left-aside
{
   
    width: 55%;
    margin-bottom: 100px;
    margin-left: 50px;
}

.custom-input
{
    width: 32%;
    margin-left: 8Px;
}
.msg
{
    height: 80px;
}
.btn
{
    background-color: orange;
    padding: 7px 10px;
    color: white;
    font-size: medium;
    margin: 5px;
    margin-left: 49%;
}

.right-side
{

}

.right-side h3
{padding: 48px;
    font-size: xx-large;

}
.right-side p
{
line-height: 1;
}

li
{
    padding: 2px;
}